main 
    +default    
        background-color: $color-base
        width: 100%
        min-height: 100vh
        margin: 60px 0
    +laptop
        width: calc(100% - 120px)
        margin: 0 60px
        padding-left: 260px
        box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75)
    +desktop
        width: calc(100% - 200px)
        margin: 0 100px
        padding-left: 320px

.page-content
    background-color: green
    +default
        max-width: 100%
        margin: 0 15px
        display: grid
        background-color: green
        grid-template-columns: auto
        grid-auto-rows: minmax(0px, auto)
    +tablet
        grid-template-columns: auto 40px 300px
        grid-auto-rows: minmax(0px, auto)
    +laptop
        margin: 0 40px
    +desktop
        margin: 0 40px 0 80px

    .main-content
        background-color: lime
        +default
            grid-column: 1
            grid-row: 2
        +tablet
            grid-column: 1
            grid-row: 1 / 10
            
    .top-side-content
        background-color: blue
        +default
            grid-column: 1
            grid-row: 1
            height: 130px
        +tablet 
            grid-column: 3
            grid-row: 1

    .bottom-side-content
        background-color: red
        +default
            grid-column: 1
            grid-row: 3
            height: 170px
        +tablet 
            grid-column: 3
            grid-row: 2

.sticky
    +tablet
        position: sticky
        top: 60px
        height: 100vh
    +laptop
        top: 0