<div class="main-menu">
  <ul>
    <li>
      <a class="main-menu__item active" href="index.html">
        <i class="main-menu__icon fa fa-user"></i><span>Main page</span>
      </a>
    </li>

    <li>
      <li class="main-menu__item main-menu__item-dropdown">
        <i class="main-menu__icon fa fa-user"></i>
        <span>Item 1</span>
        <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
      </li>
      <ul class="inner">
        <li class="main-menu__item active"><span>Option 1</span></li>
        <li class="main-menu__item"><span>Option 2</span></li>
        <li class="main-menu__item"><span>Option 3</span></li>
      </ul>
    </li>
    
    <li>
      <li class="main-menu__item main-menu__item-dropdown">
        <span>Item 2</span>
        <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
      </li>
      <ul class="inner">
        <li class="main-menu__item"><span>Option 1</span></li>
        <li class="main-menu__item"><span>Option 2</span></li>
        <li class="main-menu__item"><span>Option 3</span></li>
      </ul>
    </li>
    
    <li>
      <li class="main-menu__item main-menu__item-dropdown">
        <span>Item 3</span>
        <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
      </li>
      <ul class="inner">
        <li class="main-menu__item main-menu__item-dropdown">
          <span>Open Inner</span>
          <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
        </li>
        <ul class="inner">
          <li class="main-menu__item"><span>Options 1</span></li>
        </ul>
      </ul>
    </li>

    <li>    
      <li class="main-menu__item main-menu__item-dropdown">
        <span>Open Inner</span>
        <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
      </li>
      <ul class="inner">
        <li class="main-menu__item"><span>Options 1</span></li>
      </ul>
    </li>
    
    <li>
      <li class="main-menu__item main-menu__item-dropdown">
        <span>Item 4</span>
        <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
      </li>
      <ul class="inner">
        <li>
          <li class="main-menu__item main-menu__item-dropdown">
            <span>Technically</span>
            <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
          </li>
          <ul class="inner">
            <li class="main-menu__item"><span>Another nested element</span></li>
          </ul>
        </li>
        <li class="main-menu__item"><span>Option 2</span></li>
        <li class="main-menu__item"><span>Option 3</span></li>
      </ul>
    </li>
  </ul>
</div>