div.main-menu
  ul
    li
      a.main-menu__item.active(href="index.html")
        i.main-menu__icon.fa.fa-user
        span Новости
    li
      a.main-menu__item(href="universes.html")
        i.main-menu__icon.fa.fa-user
        span Вселенные
    li
      li.main-menu__item.main-menu__item-dropdown
        i.main-menu__icon.fa.fa-user
        span Assassins Creed
        i.main-menu__icon-dropdown.fa.fa-chevron-down
      ul.inner
        a.main-menu__item(href="universe.html")
          span Главная
        li.main-menu__item
          span Книги
        li.main-menu__item
          span Игры
        li.main-menu__item
          span Фильмы
        li.main-menu__item
          span Энциклопедия