.page__content-title
    block page_content-title
.page__content
    .page__main-content
        block page_content
    .page__info-sidebar
        block page_sidebar
    .page__adv-sidebar.sidebar-sticky-top
        block page_advise
            h3.sidebar-title Реклама
            img(src="./images/advertisment 300x500.jpg" alt="adv")

    .page__add-sidebar
        block page_additional
            h3.sidebar-title Рейтинг
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque laboriosam nam, optio at praesentium repellendus distinctio beatae? Corrupti amet, ipsum cum, deserunt fuga aliquid fugit sed distinctio, et inventore soluta?Sint consequuntur neque provident vel quibusdam placeat dolorem odit. Explicabo in, quo blanditiis non rem magni error unde facere ipsa minus saepe nobis quidem mollitia praesentium omnis labore, perferendis placeat!Officia ea deserunt modi quam nesciunt fugiat laboriosam non fugit voluptatem similique error quae reiciendis vitae tempore quas dolores id dolore distinctio, voluptatibus veniam maiores optio mollitia. Officia, autem assumenda.Saepe illo atque, autem doloribus aliquid perferendis corrupti libero nihil voluptates ipsum nam eveniet illum nostrum, dolorum placeat quasi inventore voluptatum nisi eius molestias quisquam aspernatur. Velit rerum distinctio dolorem?Vero dolorum sed placeat. Illum consectetur commodi, neque similique ab suscipit quod explicabo enim! Mollitia esse modi optio nisi omnis est enim ut fugit numquam, quasi error totam eveniet perspiciatis!


